# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de backup
*_backup.py
*_backup.txt
*_backup.xlsx
*_backup.xlsm
*.bak

# Arquivos temporários
~$*

# Ambientes virtuais
.venv/
venv/
env/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
